/*Animations*/

@-moz-keyframes rotate {
from { 
-moz-transform: rotateZ(0deg);
}
to { -moz-transform: rotateZ(-360deg);}
}

@-webkit-keyframes rotate {
from { 
-webkit-transform: rotateZ(0deg);
}
to { -webkit-transform: rotateZ(-360deg);}
}

/*Regular house-keeping*/

*{
	margin: 0px;
	padding: 0px;
}

html, body, #TheD {
	width: 100%;
}

#TheD{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

body {
	width: 100%;
	background-image: url('../img/blackorchid.png');
}

/*The album art*/

#Art{
	width: 80%;
	max-height: 60%;
	margin-top: 40px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

/*The box with tags*/

#ParaWrapper{
	height: 40%;
	width: 100%;
}

#The_Parameters{
	margin: 30px auto;
	min-width: 40%;
	max-width: 300px;
	/*background: linear-gradient(#003D00,#195019); */
	background-image: url('../img/sign_text.png');
	color: black;
    text-shadow:
    -1px -1px 0 #FFFFFF,  
     1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
     1px 1px 0 #FFFFFF;
	border-radius: 5px;
}

/*The button*/

#PlayPauseButton{
	max-height: 10%;
}

/*The Options Button */
#OptionsB{
	width: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*The loading toast*/

.hidden{
	display: none;
}

#toast{
	min-height: 10%;
	max-width: 40%;
	padding-right: 10px;
	background-color: rgba(4,4,4,0.8);
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	/*box-shadow: 7px 7px 4px rgba(250,250,250,0.3);*/
}

#toast > img{
	-moz-animation: rotate 1s;
    -webkit-animation: rotate 1s;
    -moz-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

/*Media queries*/

@media screen and (orientation:landscape) and (max-width: 600px) {
	#Art{
		float: left;
		margin-top: 60px;
		margin-left: 5%;
		margin-right: 5%;
		width: 40%;
	}
	#ParaWrapper{
		float: left;
		width: 50%;
		height: 100%;
	}
	#The_Parameters{
		margin-top: 90px;
	}
}


@media screen and (max-width: 400px), screen and (orientation:portrait){
	#Art{
		margin-top: 60px;
	}
}

@media screen and (max-width: 500px){


	#The_Parameters{
		font-size: 0.8em;
	}
}

@media screen and (max-width: 350px), screen and (orientation:portrait){
	#Art{
		margin-top: 40px;
	}

}