@-moz-keyframes rotate {
from { 
-moz-transform: rotateZ(0deg);
}
to { -moz-transform: rotateZ(-360deg);}
}

@-webkit-keyframes rotate {
from { 
-webkit-transform: rotateZ(0deg);
}
to { -webkit-transform: rotateZ(-360deg);}
}


#toast{
	padding-right: 10px;
	background-color: rgba(4,4,4,0.8);
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: white;
	box-shadow: 7px 7px 4px #888888;
}

#toast > img{
	-moz-animation: rotate 1s;
    -webkit-animation: rotate 1s;
    -moz-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}